@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Colors adapted from the HTML design tokens */
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;
  --color-surface-light: #ffffff;
  --color-surface-dark: #2d2c1b;
  --color-text-main-light: #181811;
  --color-text-main-dark: #f2f2e8;
  --color-text-sub-light: #8c8b5f;
  --color-text-sub-dark: #a3a299;
  --color-primary: #f9f506;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
